<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Datasoft_PIMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Datasoft_PIMS.My.MySettings.sConfigConStr" connectionString="Data Source=ANWAR-PC\SQLEXPRESS;Initial Catalog=DatasoftTnT;Integrated Security =True" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Datasoft_PIMS.My.MySettings>
            <setting name="sConfigCompany" serializeAs="String">
                <value>Avadhoot</value>
            </setting>
            <setting name="sConfigMailHost" serializeAs="String">
                <value>Datacode</value>
            </setting>
            <setting name="sConfigQRUrl" serializeAs="String">
                <value>http://datacodeindia.com</value>
            </setting>
            <setting name="sPath" serializeAs="String">
                <value>D:\Pendrive Backup\Laptop\Application\Active\ImmunoACT IMS\Docs\Dispose List\UID_Lables-Data_soft 29-Aug-2024.xlsx</value>
            </setting>
            <setting name="sConfigIsSandbox" serializeAs="String">
                <value>True</value>
            </setting>
        </Datasoft_PIMS.My.MySettings>
    </userSettings>
</configuration>